
.welcome
  .home-brand W
  %h1 Wasteland
  %p The non-social network
  = link_to "Sign up", new_user_registration_path, class: 'button button-primary'
  = link_to "Log in", new_user_session_path, class: 'button button-primary'
